<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>Chessboard</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='my_style.css') }}">
</head>
<body>
    <table id="chessboard">
        <tr>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
        </tr>
        <tr>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
        </tr>
        <tr>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
        </tr>
        <tr>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
        </tr>
        <tr>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
        </tr>
        <tr>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
        </tr>
        <tr>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
        </tr>
        <tr>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
            <td class="square2"></td>
            <td class="square1"></td>
        </tr>
   </table>
</body>
</html>