<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        h1,p{
            display: flex;
            justify-content: center;
        }
        a{
            display: inline-block;
        }
        .button_plus2{
            margin-left: 569px;
        }
        .button_reset{
            margin-left: 67px;
        }
    </style>
</head>
<body>
    <h1>COUNTER</h1>
    <p>{{session['views']}}</p>
    <a class="button_plus2" href="/count_plus2"> click </a>
    <a class="button_reset" href="/destroy_session">reset</a>
</body>
</html>